@import './tokens.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--typo-font-type);
  color: var(--color-text-base);
  background: var(--color-surface-primary-subtlest);
  -webkit-font-smoothing: antialiased;
}
